.title {
  margin: 0 10px 10px;
}

.item {
  margin-bottom: 10px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.counter {
  display: flex;
}
