.container {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #aaaaaa;
  margin: 0 10px 20px;
  max-width: 500px;
  align-self: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  flex-wrap: nowrap;
}

.item {
  float: left;
  min-width: 80px;
  display: block;
  text-decoration: none;
  padding: 10px 10px 2px;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.active {
  background-color: rgba(224, 240, 255, 0.2);
  border-bottom: 3px var(--color-main) solid;
}
